/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: text;
  min-width: 1200px;
  font-size: 14px;
  font-family: 'pingfang SC','helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei','simsun',sans-serif;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
html {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
body, html, .owo {
  padding: 0;
  margin: 0;
  position: relative;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: initial;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin:0;
  padding:0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.w1000 {
  width: 1000px;
  margin: 0 auto;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.fl {
  float: left;
}