/* Back Pulse */
@-webkit-keyframes owo-hover-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
@keyframes owo-hover-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
[o-hover="back-pulse"] {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
[o-hover="back-pulse"]:hover, [o-hover="back-pulse"]:focus, [o-hover="back-pulse"]:active {
  -webkit-animation-name: owo-hover-back-pulse;
  animation-name: owo-hover-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098D1;
  background-color: #2098d1;
  color: white;
}