/* Bubble Right */
[o-hover="bubble-right"] {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
[o-hover="bubble-right"]:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  top: calc(50% - 10px);
  right: 0;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #e1e1e1;
}
[o-hover="bubble-right:hover"]:before, [o-hover="bubble-right:focus"]:before, [o-hover="bubble-right:active"]:before {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}