/* Bubble Float Right */
[o-hover="bubble-float-right"] {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
[o-hover="bubble-float-right"]:hover, [o-hover="bubble-float-right"]:focus, [o-hover="bubble-float-right"]:active {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}