/* Bubble Bottom */
[o-hover="bubble-bottom"] {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
[o-hover="bubble-bottom"]:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  left: calc(50% - 10px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent;
}
[o-hover="bubble-bottom:hover"]:before, [o-hover="bubble-bottom:focus"]:before, [o-hover="bubble-bottom:active"]:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}