/* Glow */
[o-hover="glow"] {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
[o-hover="glow"]:hover, [o-hover="glow"]:focus, [o-hover="glow"]:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}