/* Radial In */
[o-hover="radial-in"] {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #2098D1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
[o-hover="radial-in"]:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e1e1e1;
  border-radius: 100%;
  -webkit-transform: scale(2);
  transform: scale(2);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
[o-hover="radial-in"]:hover, [o-hover="radial-in"]:focus, [o-hover="radial-in"]:active {
  color: white;
}
[o-hover="radial-in:hover"]:before, [o-hover="radial-in:focus"]:before, [o-hover="radial-in:active"]:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}