/* Sweep To Left */
[o-hover="sweep-to-left"] {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
[o-hover="sweep-to-left"]:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
[o-hover="sweep-to-left"]:hover, [o-hover="sweep-to-left"]:focus, [o-hover="sweep-to-left"]:active {
  color: white;
}
[o-hover="sweep-to-left:hover"]:before, [o-hover="sweep-to-left:focus"]:before, [o-hover="sweep-to-left:active"]:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}