@-webkit-keyframes flicker {
  from {
    opacity: 100%;
  }

  to {
    opacity: 10%;
  }
}

@keyframes flicker {
  from {
    opacity: 100%;
  }

  to {
    opacity: 10%;
  }
}

[o-animation="flicker"] {
  -webkit-animation: flicker 2s linear 0s infinite alternate;
  animation: flicker 2s linear 0s infinite alternate;
}