.ox-page-moveToTopEasing {
	-webkit-animation: moveToTop .7s ease-in-out both;
	-moz-animation: moveToTop .7s ease-in-out both;
	animation: moveToTop .7s ease-in-out both;
}

@-webkit-keyframes moveToTop {
	to { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveToTop {
	to { -moz-transform: translateY(-100%); }
}
@keyframes moveToTop {
	to { transform: translateY(-100%); }
}