.o-page-moveFromTopFade {
	-webkit-animation: moveFromTopFade .7s ease both;
	-moz-animation: moveFromTopFade .7s ease both;
	animation: moveFromTopFade .7s ease both;
}

@-webkit-keyframes moveFromTopFade {
	from { opacity: 0; -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveFromTopFade {
	from { opacity: 0; -moz-transform: translateY(-100%); }
}
@keyframes moveFromTopFade {
	from { opacity: 0; transform: translateY(-100%); }
}