.o-page-moveFromRightFade {
	-webkit-animation: moveFromRightFade .7s ease both;
	-moz-animation: moveFromRightFade .7s ease both;
	animation: moveFromRightFade .7s ease both;
}

@-webkit-keyframes moveFromRightFade {
	from { opacity: 0; -webkit-transform: translateX(100%); }
}
@-moz-keyframes moveFromRightFade {
	from { opacity: 0; -moz-transform: translateX(100%); }
}
@keyframes moveFromRightFade {
	from { opacity: 0; transform: translateX(100%); }
}