.ox-page-rotatePushBottom {
	-webkit-transform-origin: 50% 100%;
	-webkit-animation: rotatePushBottom .8s both ease;
	-moz-transform-origin: 50% 100%;
	-moz-animation: rotatePushBottom .8s both ease;
	transform-origin: 50% 100%;
	animation: rotatePushBottom .8s both ease;
}

@-webkit-keyframes rotatePushBottom {
	to { opacity: 0; -webkit-transform: rotateX(90deg); }
}
@-moz-keyframes rotatePushBottom {
	to { opacity: 0; -moz-transform: rotateX(90deg); }
}
@keyframes rotatePushBottom {
	to { opacity: 0; transform: rotateX(90deg); }
}