.o-page-rotateCubeTopOut {
	-webkit-transform-origin: 50% 100%;
	-webkit-animation: rotateCubeTopOut .6s both ease-in;
	-moz-transform-origin: 50% 100%;
	-moz-animation: rotateCubeTopOut .6s both ease-in;
	transform-origin: 50% 100%;
	animation: rotateCubeTopOut .6s both ease-in;
}
@-webkit-keyframes rotateCubeTopOut {
	50% { -webkit-animation-timing-function: ease-out; -webkit-transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
	100% { opacity: .3; -webkit-transform: translateY(-100%) rotateX(90deg); }
}
@-moz-keyframes rotateCubeTopOut {
	50% { -moz-animation-timing-function: ease-out; -moz-transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
	100% { opacity: .3; -moz-transform: translateY(-100%) rotateX(90deg); }
}
@keyframes rotateCubeTopOut {
	50% { animation-timing-function: ease-out; transform: translateY(-50%) translateZ(-200px) rotateX(45deg); }
	100% { opacity: .3; transform: translateY(-100%) rotateX(90deg); }
}