.ox-page-rotateCarouselBottomOut {
	-webkit-transform-origin: 50% 0%;
	-webkit-animation: rotateCarouselBottomOut .8s both ease;
	-moz-transform-origin: 50% 0%;
	-moz-animation: rotateCarouselBottomOut .8s both ease;
	transform-origin: 50% 0%;
	animation: rotateCarouselBottomOut .8s both ease;
}

@-webkit-keyframes rotateCarouselBottomOut {
	to { opacity: .3; -webkit-transform: translateY(200%) scale(.4) rotateX(-65deg); }
}
@-moz-keyframes rotateCarouselBottomOut {
	to { opacity: .3; -moz-transform: translateY(200%) scale(.4) rotateX(-65deg); }
}
@keyframes rotateCarouselBottomOut {
	to { opacity: .3; transform: translateY(200%) scale(.4) rotateX(-65deg); }
}