.ox-page-rotateRoomLeftOut {
	-webkit-transform-origin: 100% 50%;
	-webkit-animation: rotateRoomLeftOut .8s both ease;
	-moz-transform-origin: 100% 50%;
	-moz-animation: rotateRoomLeftOut .8s both ease;
	transform-origin: 100% 50%;
	animation: rotateRoomLeftOut .8s both ease;
}
@-webkit-keyframes rotateRoomLeftOut {
	to { opacity: .3; -webkit-transform: translateX(-100%) rotateY(90deg); }
}
@-moz-keyframes rotateRoomLeftOut {
	to { opacity: .3; -moz-transform: translateX(-100%) rotateY(90deg); }
}
@keyframes rotateRoomLeftOut {
	to { opacity: .3; transform: translateX(-100%) rotateY(90deg); }
}