.ox-page-rotateCarouselBottomIn {
	-webkit-transform-origin: 50% 100%;
	-webkit-animation: rotateCarouselBottomIn .8s both ease;
	-moz-transform-origin: 50% 100%;
	-moz-animation: rotateCarouselBottomIn .8s both ease;
	transform-origin: 50% 100%;
	animation: rotateCarouselBottomIn .8s both ease;
}
@-webkit-keyframes rotateCarouselBottomIn {
	from { opacity: .3; -webkit-transform: translateY(-200%) scale(.4) rotateX(65deg); }
}
@-moz-keyframes rotateCarouselBottomIn {
	from { opacity: .3; -moz-transform: translateY(-200%) scale(.4) rotateX(65deg); }
}
@keyframes rotateCarouselBottomIn {
	from { opacity: .3; transform: translateY(-200%) scale(.4) rotateX(65deg); }
}