.ox-page-rotateCubeTopIn {
	-webkit-transform-origin: 50% 0%;
	-webkit-animation: rotateCubeTopIn .6s both ease-in;
	-moz-transform-origin: 50% 0%;
	-moz-animation: rotateCubeTopIn .6s both ease-in;
	transform-origin: 50% 0%;
	animation: rotateCubeTopIn .6s both ease-in;
}

@-webkit-keyframes rotateCubeTopIn {
	0% { opacity: .3; -webkit-transform: translateY(100%) rotateX(-90deg); }
	50% { -webkit-animation-timing-function: ease-out; -webkit-transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
}
@-moz-keyframes rotateCubeTopIn {
	0% { opacity: .3; -moz-transform: translateY(100%) rotateX(-90deg); }
	50% { -moz-animation-timing-function: ease-out; -moz-transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
}
@keyframes rotateCubeTopIn {
	0% { opacity: .3; transform: translateY(100%) rotateX(-90deg); }
	50% { animation-timing-function: ease-out; transform: translateY(50%) translateZ(-200px) rotateX(-45deg); }
}