@keyframes zoomIn3 {
  from {
    opacity: 0;
    transform: scale3d(5, 5, 5);
  }
  25% {
    opacity: 0;
    transform: scale3d(3, 3, 3);
  }
  50% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.zoomIn3 {
  animation-name: zoomIn3;
}