body, html, .owo, .page-box {
  padding: 0;
  margin: 0;
}

.owo-animation {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.owo-animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owo-animation-forward {
  z-index: 99;
}


a {
  color: #333;
}

a:link, a:visited {
  text-decoration: none;
}
img {
  border: none;
}

/* 清除浮动 */
.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
  zoom: 1;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

view {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

[route] {
  display: none;
}