body, html {
  margin: 0;
  padding: 0;
  font-family: Microsoft YaHei;
}
/* 清除浮动 */
.clear {
  clear: both;
}

@font-face {
  font-family: 'iconfont';  /* project id 1002795 */
  src: url('./font/iconfont.eot');
  src: url('./font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('./font/iconfont.woff2') format('woff2'),
  url('./font/iconfont.woff') format('woff'),
  url('./font/iconfont.ttf') format('truetype'),
  url('./font/iconfont.svg#iconfont') format('svg');
}

.icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  user-select: none;
}