.o-page-flipOutTop {
	-webkit-transform-origin: 50% 50%;
	-webkit-animation: flipOutTop .5s both ease-in;
	-moz-transform-origin: 50% 50%;
	-moz-animation: flipOutTop .5s both ease-in;
	transform-origin: 50% 50%;
	animation: flipOutTop .5s both ease-in;
}

@-webkit-keyframes flipOutTop {
	to { -webkit-transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
}
@-moz-keyframes flipOutTop {
	to { -moz-transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
}
@keyframes flipOutTop {
	to { transform: translateZ(-1000px) rotateX(90deg); opacity: 0.2; }
}