.o-page-moveToLeftFade {
	-webkit-animation: moveToLeftFade .7s ease both;
	-moz-animation: moveToLeftFade .7s ease both;
	animation: moveToLeftFade .7s ease both;
}
@-webkit-keyframes moveToLeftFade {
	to { opacity: 0; -webkit-transform: translateX(-100%); }
}
@-moz-keyframes moveToLeftFade {
	to { opacity: 0; -moz-transform: translateX(-100%); }
}
@keyframes moveToLeftFade {
	to { opacity: 0; transform: translateX(-100%); }
}