.o-page-rotateRoomBottomIn {
	-webkit-transform-origin: 50% 100%;
	-webkit-animation: rotateRoomBottomIn .8s both ease;
	-moz-transform-origin: 50% 100%;
	-moz-animation: rotateRoomBottomIn .8s both ease;
	transform-origin: 50% 100%;
	animation: rotateRoomBottomIn .8s both ease;
}

@-webkit-keyframes rotateRoomBottomIn {
	from { opacity: .3; -webkit-transform: translateY(-100%) rotateX(-90deg); }
}
@-moz-keyframes rotateRoomBottomIn {
	from { opacity: .3; -moz-transform: translateY(-100%) rotateX(-90deg); }
}
@keyframes rotateRoomBottomIn {
	from { opacity: .3; transform: translateY(-100%) rotateX(-90deg); }
}