
.owo-animation-floatLeftRight {
  -webkit-animation: floatLeftRight 3s linear infinite;
  -moz-animation: floatLeftRight 3s linear infinite;
  -ms-animation: floatLeftRight 3s linear infinite;
  -o-animation: floatLeftRight 3s linear infinite;
  animation: floatLeftRight 3s linear infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -ms-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes floatLeftRight {
  0% { transform: translateX(-5vw);}
  50% {transform: translateX(-10vw);}
  100% {transform: translateX(-5vw);}
}

@-moz-keyframes floatLeftRight {
  0% { transform: translateX(-5vw);}
  50% {transform: translateX(-10vw);}
  100% {transform: translateX(-5vw);}
}

@-ms-keyframes floatLeftRight {
  0% { transform: translateX(-5vw);}
  50% {transform: translateX(-10vw);}
  100% {transform: translateX(-5vw);}
}

@-o-keyframes float {
  0% { transform: translateX(-5vw);}
  50% {transform: translateX(-10vw);}
  100% {transform: translateX(-5vw);}
}

@keyframes float {
  0% { transform: translateX(-5vw);}
  50% {transform: translateX(-10vw);}
  100% {transform: translateX(-5vw);}
}